html, body {
  min-height: 100%;
}

body {
  padding: 0;
  margin: 0;
  color: #515151;
  background-color: #fff;
  font-family: system, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
  line-height: 24px;
}

@media only screen and (max-width: 680px) {
  body {
    overflow-x: hidden;
  }
}

a:link, a:visited {
  color: #69c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

abbr[title] {
  cursor: help;
}

p, dl, ol, ul, blockquote {
  margin: 16px 0;
}

ol, ul {
  padding-left: 20px;
}

ul {
  list-style-type: square;
}

ul li::marker {
  color: #a09f93;
}

h1, h2, h3, h4, h5, h6 {
  color: #2d2d2d;
  font-weight: 500;
}

h1 {
  margin: 48px 0 24px 0;
  font-weight: 300;
  font-size: 48px;
  line-height: 64px;
}

h1.page-title {
  font-size: 48px;
}

h2 {
  margin: 48px 0 24px 0;
  font-size: 36px;
  line-height: 48px;
}

h3 {
  margin: 48px 0 24px 0;
  font-size: 24px;
  line-height: 36px;
}

h4 {
  margin: 48px 0 24px 0;
  font-size: 20px;
  line-height: 24px;
}

h5, .container-overview .subsection-title {
  margin: 24px 0 12px 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

h6 {
  margin: 24px 0 12px 0;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}

tt, code, kbd, samp {
  padding: 0 5px;
  border-radius: 3px;
  font-family: Menlo, Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 100%;
  font-weight: 300;
  color: #747369;
  background: #f2f0ec;
}

.class-description {
  margin: 36px 0;
}

.class-description:empty {
  margin: 0;
}

#main {
  padding: 12px 20px;
  margin-left: 240px;
}

#main img {
  max-width: 100%;
}

@media only screen and (max-width: 680px) {
  #main {
    width: 100%;
    min-width: 360px;
  }
  #main h1.page-title {
    margin: 1em 0;
  }
  #main section {
    padding: 0;
  }
}

header {
  display: block;
}

section {
  display: block;
}

.variation {
  display: none;
}

.signature-attributes {
  font-weight: 300;
  color: #a09f93;
}

.nav {
  display: block;
  width: 240px;
  padding: 0;
  margin: 0;
  background: #f2f0ec;
  overflow: auto;
  position: fixed;
  height: 100%;
}

@media only screen and (max-width: 680px) {
  .nav {
    background: #fff;
    width: 240px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    padding: 0 10px;
    transform: translateX(0);
    transition: transform 0.2s;
  }
}

.nav h3 {
  font-size: 16px;
  line-height: 24px;
  margin: 24px 0;
  padding: 0 10px;
  color: #fff;
  background: #747369;
}

.nav ul {
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav ul a {
  padding: 0;
  display: block;
  font-size: 12px;
}

.nav ul a:hover, .nav ul a:focus {
  color: #fff;
  background: #6cc;
  text-decoration: none;
}

.nav ul ul {
  margin-bottom: 12px;
}

.nav ul ul a {
  padding-left: 20px;
  color: #747369;
}

.nav>ul {
  padding: 0 10px;
}

.nav>ul>li>a {
  font-size: 14px;
  font-weight: 500;
  color: #393939;
}

.nav h2 {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

footer {
  color: #a09f93;
  margin-left: 240px;
  display: block;
  padding: 12px 20px;
  font-size: 12px;
}

@media only screen and (max-width: 680px) {
  footer {
    margin-left: 0;
  }
}

.ancestors {
  color: #747369;
}

.ancestors a {
  text-decoration: none;
}

.clear {
  clear: both;
}

.important {
  font-weight: bold;
  color: #747369;
}

.yes-def {
  text-indent: -1000px;
}

.type-signature {
  font-weight: 300;
  color: #a09f93;
}

.name, .signature {
  font-family: system, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: #f2777a;
}

.details {
  margin: 16px 0;
  font-size: 12px;
  line-height: 16px;
}

@media screen and (min-width: 680px) {
  .details {
    padding-left: 120px;
  }
}

.details dt, .details dd {
  margin: 0 0 12px 0;
}

.details dt {
  font-weight: bold;
  color: #2d2d2d;
}

@media screen and (min-width: 680px) {
  .details dt {
    float: left;
    width: 100px;
    margin-left: -120px;
  }
}

.details ul {
  margin: 0;
  list-style-type: square;
}

.details pre.prettyprint {
  margin: 0;
}

.details .object-value {
  padding-top: 0;
}

.description {
  margin: 12px 0;
}

.code-caption {
  font-style: italic;
  margin: 0;
}

.prettyprint {
  font-size: 16px;
  overflow: auto;
}

.prettyprint.source {
  width: inherit;
}

.prettyprint code {
  font-size: 100%;
  line-height: 20px;
  display: block;
  margin: 0;
  padding: 0;
  background-color: inherit;
  color: inherit;
}

.prettyprint code span.line {
  display: inline-block;
}

.prettyprint>code {
  padding: 12px 10px;
}

.prettyprint .linenums code {
  padding: 0 10px;
}

.prettyprint .linenums li:first-of-type code {
  padding-top: 12px;
}

.prettyprint.linenums {
  padding-left: 80px;
  user-select: none;
}

.prettyprint.linenums ol {
  padding-left: 0;
}

.prettyprint.linenums li {
}

.prettyprint.linenums li * {
  user-select: text;
}

.prettyprint.linenums li.selected, .prettyprint.linenums li.selected * {
  background-color: #d3d0c8;
}

.params, .props {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  background: #fff;
}

.params .name, .props .name, .name code {
  font-family: Menlo, Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 100%;
  color: #f2777a;
  background: #fff;
}

.params td, .params th, .props td, .props th {
  margin: 0px;
  text-align: left;
  vertical-align: top;
  padding: 12px 10px;
  display: table-cell;
}

.params td {
  border-top: 1px solid #f2f0ec;
}

.params thead tr, .props thead tr {
  font-size: 12px;
  font-weight: bold;
  background: #e8e6df;
}

.params td.description>p:first-child, .props td.description>p:first-child {
  margin-top: 0;
  padding-top: 0;
}

.params td.description>p:last-child, .props td.description>p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.param-type dt, .param-type dd {
  display: inline-block;
}

.param-type dd {
  font-family: Menlo, Consolas, Monaco, 'Andale Mono', monospace;
}

.disabled {
  color: #454545;
}

.navicon-button {
  display: none;
  position: relative;
  padding: 36px 24px;
  transition: 0.2s;
  cursor: pointer;
  user-select: none;
  opacity: 0.8;
}

.navicon-button:hover {
  opacity: 1;
}

@media only screen and (max-width: 680px) {
  .navicon-button {
    display: inline-block;
    position: fixed;
    top: 1.5em;
    right: 0;
    z-index: 2;
  }
}

.navicon {
  position: relative;
  width: 2.5em;
  height: 0.3125rem;
  background: #000;
  transition: 0.2s;
  border-radius: 2.5rem;
}

.navicon:before {
  top: 0.625rem;
}

.navicon:after {
  top: -0.625rem;
}

.navicon:before, .navicon:after {
  display: block;
  content: '';
  height: 0.3125rem;
  width: 2.5rem;
  background: #000;
  position: absolute;
  z-index: -1;
  transition: 0.3s 0.25s;
  border-radius: 1rem;
}

.nav-trigger:checked+label:not(.steps) .navicon:before, .nav-trigger:checked+label:not(.steps) .navicon:after {
  top: 0 !important;
}

.nav-trigger:checked+label .navicon:before, .nav-trigger:checked+label .navicon:after {
  transition: 0.4s;
}

.nav-trigger {
  position: fixed;
  top: 0;
  clip: rect(0, 0, 0, 0);
}

.nav-trigger:checked+label {
  transform: scale(0.75);
}

.nav-trigger:checked+label.plus {
  transform: scale(0.75) rotate(45deg);
}

.nav-trigger:checked~nav {
  left: 0 !important;
}

.nav-trigger:checked~.overlay {
  display: block;
}

.nav-trigger:checked+label.plus .navicon, .nav-trigger:checked+label.x .navicon {
  background: transparent;
}

.nav-trigger:checked+label.plus .navicon:before, .nav-trigger:checked+label.x .navicon:before {
  transform: rotate(-45deg);
  background: #fff;
}

.nav-trigger:checked+label.plus .navicon:after, .nav-trigger:checked+label.x .navicon:after {
  transform: rotate(45deg);
  background: #fff;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}